<div class="mx-24 flex justify-center">
    <div class="mt-12">
        <div class="text-center mt-8 mb-4">
            <h3 class="text-black font-bold text-3xl uppercase"><span class="text-green-700">O</span>ur <span
                class="text-red-500">C</span>ontact <span class="text-yellow-500">Q</span>uery</h3>
            <hr class="w-96 mt-4 mx-auto">
          </div>
         <div class="grid grid-cols-4 gap-6 mb-12">
            <div class="max-w-sm  bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"  *ngFor="let data of getAllData" >
                <a  >
                    <img class="rounded-t-lg h-32 mx-auto  
                     " src="https://cdn.pixabay.com/photo/2022/06/05/07/04/person-7243410_1280.png" alt=""  />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{data.name | uppercase}}</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-xs">{{data.email}}</p>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{data.message}}</p>
                    <span class="bg-slate-700 text-white p-2 w-full">{{data.createdAt | date :'MMM dd yy ,hh:mm: a '}}</span>
                </div>
            </div>
         </div>
    </div>
</div>
